body {
    font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
    font-family: 'Castoro', serif;
    font-variant: small-caps;
}


.teaser .hero-body {
    padding-top: 0;
    padding-bottom: 3rem;
}

.teaser {
    font-family: 'Google Sans', sans-serif;
}


.publication-title {}

.publication-banner {
    max-height: parent;

}

.publication-banner video {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    object-fit: fit;
}

.publication-header .hero-body {}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: 100%;
    font-weight: bold;
}

.publication-abstract {}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-authors {}

.publication-authors a {
    color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
    display: inline-block;
}

.publication-banner img {}

.publication-authors {
    /* color: #4286f4; */
}

.publication-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.publication-video iframe,
.publication-video object,
.publication-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {}

.plot {
    color: #1667aa;
}

/* Carousel */

.results-carousel {
    overflow: hidden;
    font-weight: 500;
}

.results-carousel .item {
    margin: 0px 5px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
}

.results-carousel video {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 100%;
}


/* Interpolation panel */

.interpolation-panel {
    background: #f5f5f5;
    border-radius: 10px;
}

.interpolation-panel .interpolation-image {
    width: 100%;
    border-radius: 5px;
}

.interpolation-video-column {
    position: relative;
}

.interpolation-panel .slider {
    margin: 0 !important;
}

.interpolation-panel .slider {
    margin: 0 !important;
}

#interpolation-image-wrapper {
    width: 100%;
}

#interpolation-image-wrapper img {
    border-radius: 5px;
}